* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    overflow-x: hidden;
}

.out {
    user-select: all
}

#error {
    margin-top: 12px;
    color: red;
}

p {
    overflow-wrap: break-word;
}